body {
    background-color: lightblue;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: 2px black solid;
    display:inline-block;
    background:#fff;

}

h2 {
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

#buying_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

#buying_area > div {
    width: 200px;
    height: 300px;
    margin: 1em;
    background-color: #007e00;
}

#summary_area {
    background-color: mediumspringgreen;
    border: 1px black solid;
    font-family: 'Barlow', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#totalprice {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

#summary_sub_area {
    line-height: 5px;
}

.container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    background:#fff;
    border:16px #007f00 solid;
}

.container > div {

    margin: 5px;
    background-color: #080e2f;
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;


}

.container .img {
    flex: 5 1 0;
}
.container .name {
    flex: 1 2 0;
    color: aquamarine;
    
}
.container .description {
    flex: 2 1 0;
    color: #ffb100;
}
.container .stock {
    flex: 1 1 0;
}

.container .price {
    color: #ffb100;
}


.modal {
    position: fixed;
    width: 30vw;
    height: 37vh;
    padding: 20px;
    padding-top: 1%;
    left: 33%;
    top: 100px;
    background-color: azure;
    border: black 5px inset;
    z-index: 2;
    display: none;
}

#backdrop {
    background-color: rgba(0,0,0,0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: none;
    position: fixed;
}

.modalContent {
    background-color: blue;
    font-family: 'Barlow', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}